body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
#hero-ranks {
  display: flex;
  margin: 0 auto;
}
#hero-ranks table {
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 0 2px;
}
#hero-ranks th,
#hero-ranks td {
  border-color: #999;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
#hero-ranks th:first-of-type,
#hero-ranks td:first-of-type {
  border-left-width: 1px;
}
#hero-ranks th {
  cursor: pointer;
  color: #448acb;
  background-color: #fff;
  font-weight: bold;
  padding-top: 0.5rem;
  user-select: none;
}
#hero-ranks th:first-child {
  border-radius: 5px 0 0 0;
}
#hero-ranks th:last-child {
  border-radius: 0 5px 0 0;
}
#hero-ranks th > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
#hero-ranks th > div img {
  display: none;
}
#hero-ranks th.asc img.asc {
  display: unset;
}
#hero-ranks th.dsc img.dsc {
  display: unset;
}
#hero-ranks td {
  color: #333;
  vertical-align: middle;
  text-align: center;
  padding: 0.3rem 0.5rem;
}
#hero-ranks tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
#hero-ranks tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
#hero-ranks tbody .rS .rank {
  background-color: #ff7f7f50;
}
#hero-ranks tbody .rA .rank {
  background-color: #ffbf7f50;
}
#hero-ranks tbody .rB .rank {
  background-color: #ffff7f50;
}
#hero-ranks tbody .rC .rank {
  background-color: #bfff7f50;
}
#hero-ranks tbody .rD .rank {
  background-color: #7fff7f50;
}
#hero-ranks tbody .rE .rank {
  background-color: #93ccef50;
}
#hero-ranks tbody .rF .rank {
  background-color: #3f5af950;
}
#hero-ranks tbody .Archer .name > div > div:first-child {
  box-shadow: 3px 3px 5px -1px #fcb82d;
}
#hero-ranks tbody .Fire .name > div > div:first-child {
  box-shadow: 3px 3px 5px -1px #ff1e19;
}
#hero-ranks tbody .Goblin .name > div > div:first-child {
  box-shadow: 3px 3px 5px -1px #33e675;
}
#hero-ranks tbody .Ice .name > div > div:first-child {
  box-shadow: 3px 3px 5px -1px #2caaff;
}
#hero-ranks tbody .rank {
  font-weight: bold;
  font-size: 1.2rem;
  width: 4rem;
}
#hero-ranks tbody .rarity {
  width: 6rem;
}
#hero-ranks tbody .name {
  width: 10rem;
}
#hero-ranks tbody .name > div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#hero-ranks tbody .name > div > div:first-child {
  overflow: hidden;
  border: thin solid #fff;
}
#hero-ranks tbody .name img {
  width: 50px;
  height: calc(50px * 0.85);
  transform: scale(1.6);
  object-fit: cover;
}
#hero-ranks tbody .element {
  width: 8rem;
}
